@import "tailwindcss";
@theme {
    --color-primary: #050113;
    --color-blur-color: rgba(59,130,246,.2);
}

@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: "Nunito", sans-serif;
    @apply box-border;
}

html {
    @apply scroll-smooth;
}